@font-face {
    font-family: fontejersey; 
    src: url(fonts/TitanOne/Jersey_25.ttf) format('truetype');
}
body {
    margin: 0;
    font-family: fontejersey;
    background: #013e69;
    color:#222;
}
header {
    background:#181818;
    color:white;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.menu {
    list-style:none;
    display:flex;
    gap:20px;
    margin:0;
    padding:0;
}
.menu a {
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}
.menu a:hover {
    color: #013e69;
}
.menu li:hover {
    transform: scale(1.1);
}
.menu .atual {
    text-decoration:underline;
}
.logo {
    margin:0;
    color: rgb(255, 157, 0);
}
main, section {
    padding:20px;
}