
.sobre {
    display:flex;
    text-align: left;
    align-items:center;
    padding:40px;
}
.sobre-text {
    max-width:50%;
    margin: 30px;
}
.sobre-text h2 {
    color: white;
    font-size:32px;
}
.sobre-text p {
    color: rgb(255, 157, 0)
}
.botao {
    display:inline-block;
    margin-top:15px;
    padding:10px 18px;
    background:#ffffff;
    color:rgb(0, 0, 0);
    text-decoration:none;
    border-radius:5px;
}
.botao:hover {
    background-color: rgb(255, 157, 0);
    transform: scale(1.05);
}
.sobre-img {
    border-style: ridge;
    border-radius: 110px;
    border-color: white;
    gap:20px;
}
.sobre-img:hover {
    border-color: rgb(255, 157, 0);
    transform: scale(1.05);
    cursor: none;
}