
h2 {
    color: white;
}
.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}
.card {
    background:rgb(32, 32, 32);
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.card h3 {
    color: white;
    margin-top:0;
}
.card p {
    color: rgb(255, 157, 0)
}
.card:hover {
    background: rgb(41, 41, 41);
    transform: scale(1.1);
}