.quem-sou h2 {
    color: white;
    text-align: center;
}
.quem-sou h3 {
    color: white;
}
.quem-sou li {
    color: rgb(255, 157, 0);
}
.quem-sou p {
    color: rgb(255, 157, 0);
    text-align: center;
}
.quem-sou .objetivo-p {
    text-align: left;
}
strong {
    color: white;
}